<div id="<%= dom_id shortened_url %>">
  <p>
    <strong>Original url:</strong>
    <%= shortened_url.original_url %>
    <br/>
    <strong>Short url:</strong>
    <%= shortened_url.short_url %>
    <br/>
    <strong>Title:</strong>
    <%= shortened_url.title %>
    <br/>
    <strong>Redirects:</strong>
    <%= shortened_url.redirects %>
    <br/>
    <%= link_to "Show this shortened url", shortened_url.short_url, target: :_blank %>
  </p>

</div>
