<div id="<%= dom_id shortened_url %>">
  <p>
    <strong>Original url:</strong>
    <%= shortened_url.original_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= shortened_url.short_url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= shortened_url.title %>
  </p>

  <p>
    <strong>Redirects:</strong>
    <%= shortened_url.redirects %>
  </p>

</div>
